* {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', normal;

}

body {

    background: #e5e5e5;
    max-width: 1200px;
    margin: auto;
}
h1{
    font: 500 50px 'DM Sans';
    color: #181717;
}
header {   
    display: flex;
    justify-content: space-between;
}

header nav {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color:#181717
}

header nav a:not(:last-child) {
    margin-right: 30px;
}

.main {
    margin-top: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main h2 {
    font: 500 60px "DM Sans";
    color: #181717;
    width: 440px;
}

.main p {
    font: 580 32px "DM Sans";
    color: #606060;
}

.portfolio {
    margin-top: 8%;
}


.arrow {
    background-image: url(./images/arrowbottom.png);
    margin-top: 8%;
    height: 39px;
    width: 33px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.imageproject1 {
    background-image: url(./images/Thumbnail.png);
    width: 640px;
    height: 364px;
    background-size: cover;
}

.image {
    background-image: url(./images/Thumbnail.png);
    width: 640px;
    height: 364px;
}

.text h1 {
    font: 500 24px "DM Sans";
    color: #181717;
}

.text h2 {
    font: 400 22px "DM Sans";
    color: #181717;
    margin-top: 25px;
    width: 340px;
}

.text h3 {
    font: 400 22px "DM Sans";
    color: #606060;
    margin-top: 8%;
    width: 315px;
}

.linkproject1 {
    font: 500 22px "DM Sans";
    color: #181717;
    margin-top: 167px;
    width: 326px;
    text-decoration-line: underline;
}

.text h4 {
    font: 500 22px "DM Sans";
    color: #181717;
    margin-top: 167px;
    width: 326px;
    text-decoration-line: underline;
}

.line {
    border: 1.5px solid #181717;
    width: 1115px;
    margin-top: 10%;
}

footer {
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.linkedin {
    height: 20px;
    width: 98px;
}

.tg {
    height: 20px;
    width: 69px;
}


/* ------------ */
.about {
    margin-top: 8%;
}

.wrapperabout {
    display: flex;
    justify-content: space-between;
}

.imageabout {
    background-image: url(../Thumbnail.png);
    width: 457px;
    height: 405px;
}



.about h1 {
    font: 500 60px "DM Sans";
    color: #181717;
    width: 480px;
}

.about h2 {
    font: 400 24px "DM Sans";
    color: #181717;
    width: 575px;
}

.hardskills {
    display: flex;
    justify-content: space-between;
}

.hardskills h2 {
    margin-top: 68px;
}


.hardskills p {
    width: 436px;
    margin-top: 68px;
}

.wrapperabout3email {
    display: flex;
}

.wrapperabout3email h2{
    width: 347px;
    margin-top: 71px;
}


.arrowright {
    background-image: url(../arrowright.png);
    background-repeat: no-repeat;
    background-size: auto;
    height: 24px;
    width: 24px;
    margin-top: 79px;
    margin-left: 41px;
}

.wrapperabout3email p{
    margin-left: 392px;
    margin-top: 79px;
}

@media screen and (max-width: 600px) {
    .image {
        display: none;
    }
}